  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Shivam Kumar</h1>
        <p>I'm <span class="typed" id="typing-text"></span>.NET Developer</p>
    </div>
</section><!-- End Hero -->

@code {
  
}
